body, html {
 height:100%:
 margin:0px;
 font-family:Arial, Helvetica, sans-serif;
}

* {
 box-sizing:border-box;
}

.bg-image {
  background-image:url('Images/slider-03.jpg');
  height:100%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  filter:blur(8px);
}

.bg-text {
 position:absolute;
 top:50%;
 left:50%;
 color:white;
 text-align:center;
 transform:translate(-50%, -50%);
 border:3px solid #f1f1f1;
 padding:20px;
 z-index:2;
 width:80%;
 font-weight:bold;
}